variables:
    TWINE_USERNAME: SECURE
    TWINE_PASSWORD: SECURE
    TWINE_REPOSITORY_URL: https://upload.pypi.org/legacy/
    PYBIN: /opt/python/cp35-cp35mu/bin

stages:
    - deploy
    - status
    
build:
    image: "quay.io/pypa/manylinux1_x86_64"
    stage: deploy
    before_script:
        - yum -y -q update
        - yum install -y -q https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        - yum -y -q groupinstall "Development Tools"
        - yum -y -q --enablerepo=extras install epel-release
        - yum install -y -q bison flex git centos-release-scl
        - yum install -y -q wget curl
        - yum install -y -q automake autoconf pcre-devel
        - yum -y -q update
        - alias pip="$PYBIN/pip"
        - alias python="$PYBIN/python"
        - pip install -U setuptools wheel twine auditwheel
        - pip install -U anybadge
        - git clone https://github.com/swig/swig.git
        - cd swig
        - git checkout rel-4.0.0
        - ./autogen.sh
        - ./configure
        - make
        - make install
        - cd ..
    script:
        - python setup.py sdist bdist_wheel
        - auditwheel repair dist/*.whl -w dist
        - if twine upload dist/*.tar.gz --verbose && twine upload dist/*manylinux*.whl --verbose; then echo "PASSED JOB" && anybadge --label=pipeline --value=passing --file=build.svg passing=green failing=red; else echo "FAILED JOB" && anybadge --label=pipeline --value=failing --file=build.svg passing=green failing=red; fi
        - mkdir -p public; mv build.svg public/build.svg
    artifacts:
        paths:
            - public/
            - build/
            - dist/
            - libcolgraph.egg-info/
            - setup.py
    only:
        changes:
            - .pipeline.trigger
    allow_failure: true
    environment:
        name: dev

pages:
    stage: status
    dependencies:
        - build
    script:
        - mkdir -p public
    artifacts:
        paths:
            - public/
    only:
        changes:
            - .pipeline.trigger

